extends ../layout

block content
      .jumbotron.jumbotron-fluid
        .container.bg-dark
          //- h1.display-3.text-uppercase.text-center.bg-dark.text-light Shop Localis
          .row
            .col-lg-12
              form.input-group.input-group-lg(action='/product/search', method='get')
                input.form-control.text-center(type='text', name='title', placeholder='Buscar Productos...', aria-label='Buscar Productos...')
                span.input-group-btn
                  button.btn.btn-secondary(type='submit') Go!
      if search
        .container.alert.alert-primary(role='alert')
          | [ #{products.length} ] productos encontrados con el texto: " #{query} " .
      .container
        .card-deck.d-flex.justify-content-around
          each product in products
            .col.productbox.d-flex.flex-column.justify-content-between.mx-1
              a(href="#", data-toggle='modal', data-target=`#${product._id}`)
                img.img-responsive(src=product.image_url)
              .title-price
                .producttitle=product.title
                  a.item-info(href="#", data-toggle='modal', data-target=`#${product._id}`)
                    i.fa.fa-info-circle.pull-right
                .productprice
                  .pull-right
                    form(action='/cart', method='POST')
                      input.hidden(value='1', name='quantity')
                      input.hidden(name="product", value=product)
                      button.btn.btn-success.btn-sm.btn-add-one-to-cart(type='submit') 
                        i.fa.fa-cart-plus.cart-added-item
                        |  Comprar
                  .pricetext € #{product.price}
            
            //- .card
            //-   a(href="#", data-toggle='modal', data-target=`#${product._id}`)
            //-     img.card-img-top(src=product.image_url, alt='Card image cap')
            //-   .card-body
            //-     h4.card-title=product.title
            //-     p.card-text=product.description
            //-   .card-footer.d-flex.justify-content-around
            //-     form(action='/cart', method='POST')
            //-       input.hidden(value='1', name='quantity')
            //-       input.hidden(name="product", value=product)
            //-       button.btn.btn-success(type='submit')
            //-         i.fa.fa-cart-plus.cart-added-item
            //-         |  Añadir
            //-     button.btn.btn-info(type='button', data-toggle='modal', data-target=`#${product._id}`)
            //-       //- button.btn.btn-info(type='button', data-toggle='modal', data-target='#modal-product-detail')
            //-       i.fa.fa-info-circle
            //-       |  Detalles
                // <small class="text-muted">Last updated 3 mins ago</small>
      
      // NEW_Modal PRODUCT DETAILS
      each product in products
        div.modal.fade(id=product._id, tabindex='-1', role='dialog', aria-labelledby='productDetails', aria-hidden='true')
          .modal-dialog.modal-lg(role='document')
            .modal-content
              .modal-header
                h3.product-title=product.title
                button.close(type='button', aria-label='Close', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
                .container.product-details
                  .card-modal
                    .container-fluid
                      .wrapper.row
                        .col-lg-6.picture-left.d-flex.flex-column
                          img.img-thumbnail(src=product.image_url, alt='Responsive image')
                          label.custom-file.my-1.mx-auto.hidden
                            input#file2.custom-file-input(type='file')
                            span.custom-file-control
                        .details-right.col-lg-6
                          h3.product-title=product.title
                          p.product-description=product.description
                          h4.price
                            | Precio: 
                            span.price-value €
                            | 
                            span #{product.price}
                            | 
                            span #{product.uom}
                          form(action='/cart', method='POST')
                            .input-group.quantity-selector  
                              span.input-group-btn.btn-plus
                                button.btn.btn-outline-primary.btn-number(type='button', data-type='plus', data-field='quantity')
                                  i.fa.fa-plus
                              input.form-control.input-number(type='text', name='quantity', value='1', min='1', max='100')
                              span.input-group-btn.btn-minus
                                button.btn.btn-outline-secondary.btn-number(type='button', data-type='minus', data-field='quantity')
                                  i.fa.fa-minus
                            .action
                              //- form.addToCart(action="/addToCart", method="POST")
                              input.hidden(name="product", value=product)
                              //- input.hidden(name="_id", value=product._id)
                              button.btn.btn-success.btn-add-to-cart(type="submit")
                                i.fa.fa-cart-plus.cart-added-item
                                |  Añadir
                              // <button type="button" class="btn btn-outline-secondary btn-close-alert">Cerrar</button>
              .modal-footer
                button.btn.btn-outline-secondary(type='button', data-dismiss='modal')
                  | Cerrar  


      nav(aria-label='Page navigation')
          ul.pagination.justify-content-center
            li.page-item.disabled
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li.page-item.disabled
              a.page-link(href='#') 1
            li.page-item.disabled
              a.page-link(href='#') 2
            li.page-item.disabled
              a.page-link(href='#') 3
            li.page-item.disabled
              a.page-link(href='#') 4  
            li.page-item.disabled
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next        
      // Modals

      
      
      

