extends ../layout

block content
      .jumbotron.jumbotron-fluid
        .container.bg-dark
          h1.display-3.text-uppercase.text-center.bg-dark.text-light Shop Localis
          .row
            .col-lg-12
              form.input-group.input-group-lg(action='/product/search', method='get')
                input.form-control.text-center(type='text', name='title', placeholder='Search for...', aria-label='Search for...')
                span.input-group-btn
                  button.btn.btn-secondary(type='submit') Go!
      .container
        .card-deck
          each product in products
            .card
              img.card-img-top(src=product.image_url, alt='Card image cap')
              .card-body
                h4.card-title=product.title
                p.card-text=product.description
              .card-footer.d-flex.justify-content-around
                button.btn.btn-success(type='button')
                  i.fa.fa-cart-plus
                  |  Añadir
                button.btn.btn-info(type='button', data-toggle='modal', data-target=`#${product._id}`)
                  //- button.btn.btn-info(type='button', data-toggle='modal', data-target='#modal-product-detail')
                  i.fa.fa-info-circle
                  |  Detalles
                // <small class="text-muted">Last updated 3 mins ago</small>
      
      // NEW_Modal PRODUCT DETAILS
      each product in products
        div.modal.fade(id=product._id, tabindex='-1', role='dialog', aria-labelledby='productDetails', aria-hidden='true')
          .modal-dialog.modal-lg(role='document')
            .modal-content
              .modal-header
                h3.product-title=product.title
              .modal-body
                .container.product-details
                  .card-modal
                    .container-fluid
                      .wrapper.row
                        .col-lg-6.picture-left.d-flex.flex-column
                          img.img-thumbnail(src=product.image_url, alt='Responsive image')
                          label.custom-file.my-1.mx-auto.hidden
                            input#file2.custom-file-input(type='file')
                            span.custom-file-control
                        .details-right.col-lg-6
                          h3.product-title=product.title
                          p.product-description=product.description
                          h4.price
                            | Precio: 
                            span.price-value € #{product.price}
                            | #{product.uom}
                          .input-group.quantity-selector
                            span.input-group-btn.btn-plus
                              button.btn.btn-outline-primary.btn-number(type='button', data-type='plus', data-field='quantity')
                                i.fa.fa-plus
                            input.form-control.input-number(type='text', name='quantity', value='1', min='1', max='100')
                            span.input-group-btn.btn-minus
                              button.btn.btn-outline-secondary.btn-number(type='button', data-type='minus', data-field='quantity')
                                i.fa.fa-minus
                          .action
                            button.btn.btn-success.btn-add-to-cart(type='button')
                              i.fa.fa-cart-plus
                              |  Añadir
                            // <button type="button" class="btn btn-outline-secondary btn-close-alert">Cerrar</button>
              .modal-footer
                button.btn.btn-outline-secondary(type='button', data-dismiss='modal')
                  | Cerrar  


      nav(aria-label='Page navigation')
          ul.pagination.justify-content-center
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li.page-item.disabled
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#') 4  
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next        
      // Modals
      
      
      

